:root{
  --principal: #ac0014cc;
  --controls: #1f53c5;
}

/* CUERPO DE PAGINA */
body {
  background: #fff !important;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
body .fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}
body .animation-container {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  opacity: 0;
  animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* CABECERA */
header #topbar .container .col-md-6 a{
  text-decoration: none;
  color: #1a1e21;
}
header .header-tittle .header-title-container h1{
  text-align: center;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: var(--principal);
  font-size: 2.5em;
  letter-spacing: 2px;
}
header .navbar-nav{
  font-size: 17px;
}
header .navbar{
  border: none;
  box-shadow: none !important;
}
header .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link{
  transition: transform .3s;
  color: rgba(0,0,0,.55);
}
header .navbar .container .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
  border: none;
  border-radius: 5px;
  border-width: 1px;
  background-color: var(--principal);
  color: white;
  transform: scale(1.1); 
}
header .navbar .container .navbar-collapse .navbar-nav .nav-item-modals .nav-link-modals{
  transition: transform .3s;
  color: rgba(0,0,0,.55);
  padding: 8px;
  cursor: pointer;
}
header .navbar .container .navbar-collapse .navbar-nav .nav-item-modals .nav-link-modals:hover{
  border: none;
  border-radius: 5px;
  border-width: 1px;
  background-color: var(--principal);
  color: white !important;
  transform: scale(1.1); 
}
header .navbar .container .navbar-collapse .navbar-nav .nav-item{
  padding-left: 35px;
}
header .navbar .container .navbar-collapse .navbar-nav .nav-item-modals{
  padding-left: 35px;
  width: 180px;
}
header .navbar .container .custom-select .select-items{
  display: none;
}
header .navbar .container .navbar-collapse .nav-link-modals:after {
  position: relative;
  left: 5px;
  content: "\25BC";
  top: 50%;
  right: 8px;
  transform: translateY(-50%) translateX();
}
header .navbar .container .navbar-collapse .nav-item-modals .custom-select .select-items{
  display: none;
  flex-direction: column;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
  border: none;
  border-radius: 10px;
}
header .navbar .container .navbar-collapse .nav-item-modals .custom-select .select-items div{
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
header .navbar .container .navbar-collapse .nav-item-modals .custom-select .select-items div:hover {
  background-color: var(--principal);
  color: white;
}
header #topbar {
  background-color: var(--principal) !important;
}
header nav {
  background: #fff;
  box-shadow: 0px 0px 5px #4444;
}
header .navbar .header-logo{
  width: 120px;
}
header .navbar-brand{
  text-align: center;
  align-items: center;
}
header nav a.navbar-brand h2 {
  color: var(--principal);
}
header nav ul.action-menu .nav-item .nav-link {
  margin: 0px 20px;
}
header .navbar .container .navbar-collapse .navbar-nav .bi-person{
  font-size: 30px;
  transition: transform .5s;
}
header .navbar .container .navbar-toggler {
  outline: none!important;
  outline-color: transparent!important;
  padding: none!important;
  border: none!important;
  border-radius: none!important;
}


@media(max-width: 567px){
}
.form-login{
    bottom: 45%!important;
}


/* FONDOS DE CABECERA */
#carouselExampleCaptions{
  box-shadow: none !important;
}
#carouselExampleCaptions .carousel-inner .carousel-item {
  width: 100%;
  height: 100vh!important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#carouselExampleCaptions .carousel .carousel-inner{
  height: 800px;
}
#carouselExampleCaptions .carousel-item::before {
  content: '';
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#carouselExampleCaptions .carousel-item .carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 40%;
  left: 0;
  right: 0;
}
#carouselExampleCaptions .carousel-item .carousel-caption h5 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 700;
  width: 80%;
  margin: 0px auto 30px auto;
}
#carouselExampleCaptions .carousel-item .carousel-caption p {
  font-size: 20px;
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0px auto 30px auto;
}

@media(max-width:768px){
  .carousel-caption h5 {
    font-size: 38px;
  }
}
@media(max-width:577px){
  .carousel-caption h5 {
    font-size: 25px;
    
  }
  .carousel-caption p {
    font-size: 13px;
  }
  
}

/* A CERCA DE NOSOTROS */
.about .content {
  padding: 0 80px;
}
.about .my-2{
  font-size: 50px;
  font-weight: bold;
}
.about .mb-1{
  font-size: 20px;
}
.about .content h3 {
  font-weight: 400;
  font-size: 40px;
  color: #5f5950;
}
.about .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.about .content p {
  font-size: 18px;
  color: #676767;
}

.about .content ul {
  list-style: none;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  color: #5f5950;
  text-align: justify;
}

.about .content ul li + li {
  margin-top: 15px;
  text-align: justify;
}

.about .content ul li {
  position: relative;
  padding-left: 26px;
  text-align: justify;
}
.about .content ul i {
  font-size: 20px;
  color: #ffb03b;
  position: absolute;
  left: 0;
  top: 2px;
  text-align: justify;
}
.container .card{
  border: solid;
  border-color: var(--principal);
}
.container h2{
  font-weight: bold;
  font-size: 3em;
}
.container .row .col-md-4{
  text-align: justify;
}
.container .mb-5{
  font-size: 20px;
  text-align: center;
}
.container .mb-4 img{
  height: 340px;
}
.container .btn-primary{
  transition: transform .7s;
  background-color: var(--principal);
  border-color: var(--principal);
}
.container .btn-primary:hover{
  transform: scale(1.1);
  background-color: var(--principal);
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .video-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
  position: relative;
  left: 40px;
  border: none;
  border-radius: 5px;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#ff3b3b 50%, rgba(255, 59, 59, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 92, 59, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #ff483b;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@media (max-width: 1024px) {
  .about .content, .about .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .about .content {
    padding-top: 30px;
  }
  .about .accordion-list {
    padding-bottom: 30px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.course .box {
  padding: 10px 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}
.course .box img{
  border-radius: 5px;
}
.course .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #ffcf88;
}

footer{
  height: 47%;
  width: 100%;
  background-color: var(--principal) !important;
  min-height: 100px;
  padding: 10 px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
 footer section .container .mt-3 .ceba{
  margin-left: 40px;
 }
 footer section .container img{
  width: 80%;
  height: 250px !important;
  text-align: left;
 }
 element.style {
   text-align: center;
 }

 @keyframes animateWave{
   0%{
     background-position-x:100px;
   }
   100%{
     background-position-x:0px;
   }
 }
  @keyframes animateWave_02{
     0%{
       background-position-x:0px;
     }
     100%{
       background-position-x:1000px;
     }
 }

 .floating-btn{
  width: 80px;height: 80px;
  background: #59ce72;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  border-color: none;
  color: aliceblue;
  font-size: 40px;
  box-shadow: 2px 2px 5px rgba(red, green, rgb(0, 140, 255), 25);
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: background 0.25s;
}
.floating-btn:hover{
  color: #036441;
}

#contact .container .mb-4 .row{
  display: flex ;
  margin-bottom: 14rem;
}

#contact .container .mb-4 .row .text-center{
  margin-bottom: 15rem;
}
#contact .container .mb-4 .row .col .btn-danger{
  margin-top: 15rem;
}

.ddd{
  position: relative;
  width: 1000px;
  padding-bottom: 300px;

 }
 #slide
 {
  width: max-content;
  margin: 50px;


 }
 .item{
  width: 200px;
  height: 300px;
  background-position: 50%, 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 80%;
  transform: translate(0,-80%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
 }

 .item:nth-child(1),
 .item:nth-child(2){
  left: 0;
  top: 0;
  transform: translate(0,0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
 }
 .item:nth-child(3){
  left: calc(50% + 220px);
 }
 .item:nth-child(4)
 {
  left: calc(50% + 330px);
 }
 .item:nth-child(5)
 {
  left: calc(50% + 440px);
 }
 .item:nth-child(n+6)
 {
  left: calc(50% + 550px);
  opacity: 0;
 }

 .item .content{
  position: absolute;
  top: 50%;
  left: 150px;
  width: 300px;
  text-align: left;
  padding: 0;
  color: #eee;
  transform: translate(0,-50%);
  display: none;
 }
 .item:nth-child(2) .content{
  display: block;
  z-index: 11111;
 }

 .item .name{
  font-style: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
 }
 .item .des{
  margin: 20px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;

 }

 .item button{
  padding: 10px 20px;
  border: none;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards;

 }

 @keyframes showcontent{
  from{
    opacity: 0;
    transform: translate(0,100px);
    filter: blur(33px);
  }
  to{
    opacity: 1;
    transform: translate(0,0);
    filter: blur(0);
  }
 }

 .buttons{
  position: absolute;
  bottom: 30px;
  z-index: 22222;
  text-align: center;
  width: 100%;
 }

 .buttons button{
width: 50px;
height: 50px;
border-radius: 50%;
border: 1px solid #555;
transition: 0.5s;
 }

 .buttons button:hover{
  background-color: #fff;
 }