:root{
  --principal: rgba(1,1,1,1);
}

 .ddd{
  position: relative;
  width: 1000px;
  padding-bottom: 300px;

 }
 #slide
 {
  width: max-content;
  margin: 50px;


 }
 .item{
  width: 200px;
  height: 300px;
  background-position: 50%, 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 80%;
  transform: translate(0,-80%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
 }

 .item:nth-child(1),
 .item:nth-child(2){
  left: 0;
  top: 0;
  transform: translate(0,0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
 }
 .item:nth-child(3){
  left: calc(50% + 220px);
 }
 .item:nth-child(4)
 {
  left: calc(50% + 330px);
 }
 .item:nth-child(5)
 {
  left: calc(50% + 440px);
 }
 .item:nth-child(n+6)
 {
  left: calc(50% + 550px);
  opacity: 0;
 }

 .item .content{
  position: absolute;
  top: 50%;
  left: 150px;
  width: 300px;
  text-align: left;
  padding: 0;
  color: #eee;
  transform: translate(0,-50%);
  display: none;
 }
 .item:nth-child(2) .content{
  display: block;
  z-index: 11111;
 }

 .item .name{
  font-style: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
 }
 .item .des{
  margin: 20px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;

 }

 .item button{
  padding: 10px 20px;
  border: none;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards;

 }

 @keyframes showcontent{
  from{
    opacity: 0;
    transform: translate(0,100px);
    filter: blur(33px);
  }
  to{
    opacity: 1;
    transform: translate(0,0);
    filter: blur(0);
  }
 }

 .buttons{
  position: absolute;
  bottom: 30px;
  z-index: 22222;
  text-align: center;
  width: 100%;
 }

 .buttons button{
width: 50px;
height: 50px;
border-radius: 50%;
border: 1px solid #555;
transition: 0.5s;
 }

 .buttons button:hover{
  background-color: #fff;
 }


body {
  background: #fff !important;
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
  color: #1a1e21;
}
.section-title h2 {
  text-shadow: 1px 1px 2px #4444;
}

/* CABECERA */
header .navbar-nav{
  font-size: 17px;
  position: relative;
  left: 170px;
}
header .navbar-nav .nav-item .nav-link{
  transition: transform .3s;
}
header .navbar-nav .nav-item .nav-link:hover{
  border: none;
  border-radius: 5px;
  border-width: 1px;
  background-color: #0059ffcc;
  color: white;
  transform: scale(1.1); 
}
header .navbar-nav .nav-item{
  padding-left: 20px;
}
header nav {
  background: #fff;
  box-shadow: 0px 0px 5px #4444;
}
header .navbar-brand{
  position: relative;
  right: 150px;
}
header nav a.navbar-brand h2 {
  color: rgba(223, 194, 6, 0.985);
}
header nav ul.action-menu .nav-item .nav-link {
  margin: 0px 20px;
}
header .bi-person{
  font-size: 30px;
  transition: transform .5s;
}
.navbar-toggler {
  outline: none!important;
  outline-color: transparent!important;
  padding: none!important;
  border: none!important;
  border-radius: none!important;
  
}
@media(max-width: 567px){
  
}
.form-login{
    bottom: 45%!important;
}


.carousel-item {
  width: 100%;
  height: 100vh!important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item::before {
  content: '';
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 40%;
  left: 0;
  right: 0;
}
.carousel-caption h5 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 700;
  width: 80%;
  margin: 0px auto 30px auto;
}
.carousel-caption p {
  font-size: 20px;
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0px auto 30px auto;
}


@media(max-width:768px){
  .carousel-caption h5 {
    font-size: 38px;
  }
}
@media(max-width:577px){
  .carousel-caption h5 {
    font-size: 25px;
    
  }
  .carousel-caption p {
    font-size: 13px;
  }
  
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/


.about .content {
  padding: 0 80px;
}
.about .my-2{
  font-size: 50px;
  font-weight: bold;
}
.about .mb-1{
  font-size: 20px;
}
.about .content h3 {
  font-weight: 400;
  font-size: 40px;
  color: #5f5950;
}
.about .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.about .content p {
  font-size: 18px;
  color: #676767;
}

.about .content ul {
  list-style: none;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  color: #5f5950;
}

.about .content ul li + li {
  margin-top: 15px;
}

.about .content ul li {
  position: relative;
  padding-left: 26px;
}

.about .content ul i {
  font-size: 20px;
  color: #ffb03b;
  position: absolute;
  left: 0;
  top: 2px;
}
.container .card{
  border: solid;
  border-color: rgb(95, 175, 255);
}
.container .mb-5{
  font-size: 20px;
}
.container .btn-primary{
  transition: transform .7s;
}
.container .btn-primary:hover{
  transform: scale(1.1);
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .video-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
  position: relative;
  left: 40px;
  border: none;
  border-radius: 5px;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#ffb03b 50%, rgba(255, 176, 59, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 176, 59, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #ffb03b;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}
.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}
.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.form-register a {
  color: white;
  text-decoration: none;
}
.form-register a:hover {
  color: white;
  text-decoration: underline;
}
.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}


@media (max-width: 1024px) {
  .about .content, .about .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .about .content {
    padding-top: 30px;
  }
  .about .accordion-list {
    padding-bottom: 30px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}



.course .box {
  padding: 10px 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}
.course .box img{
  border-radius: 5px;
}
.course .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #ffcf88;
}
